.container {
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--rowNum), 1fr);
    margin: auto;
    width: 600px;
    height: 600px;
}
.grid_cell {
    border: 1px solid gray;
    display: inline-block;
}
